*{
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer{
    background-color: white;
}


header{
    text-align: center;
}

main{
    font-size: 12pt;
    width: 90%;
    margin: auto;
    border: 1px solid #cccccc;
    padding: 1em;
}

footer{
    text-align: center;
}